
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p><strong>Soy desarrrolador web / m&oacute;vil</strong> con m&aacute;s de 10 a&ntilde;os de experiencia desde que me inici&eacute; en el mundo del desarrollo.</p>
    
    <p><strong>He trabajado en todo tipo de proyectos para diferentes &aacute;mbitos como el deporte, cultura, temas sociales, juegos, industria,...</strong></p>
    
    <p>Actualmente compagino mi trabajo como desarrollador con estudiar en la Universidad el Grado de Inform&aacute;tica, mis proyectos personales y mis otros hobbies entre los que destacan el deporte, videojuegos y mucho m&aacute;s.</p>
    
    <p><strong>Me apasiona&nbsp;programar, me gusta dedicarle algo de tiempo a diario</strong>, aunque sea a leer tutoriales o art&iacute;culos, realizar cursos e investigar. Me gusta mucho tambi&eacute;n trabajar con datos y&nbsp; jugar con ellos. <strong>Sobre todo me gusta mucho trabajar con datos abiertos.</strong></p>
    <p>Otro de los intereses que tengo es intentar compartir todo lo que aprendo con el objetivo de facilitar a otras personas poder avanzar sin problemas en el desarrollo del aprendizaje y de ah&iacute; viene ese inter&eacute;s por el que <b><a href="https://www.udemy.com/user/anartzmugika/" target="_blank" title="Cursos Online de Programación con Anartz Mugika Ledo">me he convertido instructor en línea </a></b></p>
    <p>Como mis casos de &eacute;xito, se podr&iacute;a decir que he destacado m&aacute;s en el &aacute;mbito m&oacute;vil en el que tuve el privilegio de ser <strong><a href="https://www.irekia.euskadi.eus/es/news/31399-open-ispilu-servirace-guia-runner-proyectos-ganadores-categoria-aplicaciones-del-concurso-open-data-euskadi-que-organiza-gobierno-vasco-para-promover-uso-datos-abiertos" target="_blank">uno de los ganadores del concurso de datos abiertos</a> de mi comunidad aut&oacute;noma que es el Pa&iacute;s Vasco con el proyecto <a href="https://mugan86.com/serviraces/web/" target="_blank">Servirace</a></strong> aplicaci&oacute;n desarrollada desde Android 2.+ hasta la versi&oacute;n 8 en el que he invertido much&iacute;simas horas siendo el responsable del proyecto en todos los aspectos y desarroll&aacute;ndolo en mis ratos libres ajeno a mi trabajo.</p>

    <p>Cuando he trabajado como desarrollador m&oacute;vil he obtenido varios premios en diferentes concursos. En este caso <strong>he sido parte del equipo de desarrollo en el que he desempe&ntilde;ado las labores de desarrollador m&oacute;vil &uacute;nicamente</strong>.</p>
    <img src="https://www.innobasque.eus/images/articles/25204631393_d809d96a7e_o-20160321113958.jpg" alt="Opendata Servirace Marzo 2016" class="about-photo"/>
    
    <div class="all-width">
        <div class="center-element"><small>Concurso Opendata 2016 - Servirace</small></div>
    </div>
  </div>
  <div class="col-lg-4">
    <!--<blog-sidebar></blog-sidebar>-->
    <blog-access-direct></blog-access-direct>
  </div>
</div>