<div class="row">
    <div class="col-lg-12">
        <h3>GraphQL Con Angular</h3>
        <a href="#">
            <blog-poster-image [classValues]="'card-img-top'"
                [src]="'https://i.udemycdn.com/course/750x422/2338870_2107.jpg'"></blog-poster-image>
        </a>
    </div>
    <div class="col-lg-12">
        <h3>Librer&iacute;as en NPM</h3>
        <a href="#">
            <blog-poster-image [classValues]="'card-img-top'"
                [src]="'https://i.udemycdn.com/course/750x422/2338870_2107.jpg'"></blog-poster-image>
        </a>
    </div>
</div>