<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top position-fixed" id="mainNav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Anartz Mugika Ledo</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">{{ 'menus.home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">{{ 'menus.about' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/courses']" routerLinkActive="active">{{ 'menus.courses' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio']"
            routerLinkActive="active">{{ 'menus.portfolio' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/post']" routerLinkActive="active">Sample Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">{{ 'menus.contact' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">{{ 'menus.login' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">{{ 'menus.register' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>