<div class="row" *ngIf="loading">
  <div class="col-lg">
    <blog-loading></blog-loading>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-lg-8 col-md-10 mx-auto">
     <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <a href="#">
                <blog-poster-image [classValues]="'img-fluid rounded'" [src]="'http://placehold.it/200x200'"></blog-poster-image>
              </a>
            </div>
            <div class="col-lg-9">
              <h2 class="card-title">Post Title</h2>
              <blog-publish-info></blog-publish-info>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <blog-button></blog-button>
            </div>
          </div>
        </div>
      </div>
    <!--<div class="post-preview">
      <a [routerLink]="['/post']">
        <h2 class="post-title">
          Man must explore, and this is exploration at its greatest
        </h2>
        <h3 class="post-subtitle">
          Problems look mighty small from 150 miles up
        </h3>
      </a>
      <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>
        on September 24, 2018</p>
    </div>
    <hr>
    <div class="post-preview">
      <a [routerLink]="['/post']">
        <h2 class="post-title">
          I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
        </h2>
      </a>
      <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>
        on September 18, 2018</p>
    </div>
    <hr>
    <div class="post-preview">
      <a [routerLink]="['/post']">
        <h2 class="post-title">
          Science has not yet mastered prophecy
        </h2>
        <h3 class="post-subtitle">
          We predict too much for the next year and yet far too little for the next ten.
        </h3>
      </a>
      <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>
        on August 24, 2018</p>
    </div>
    <hr>
    <div class="post-preview">
      <a [routerLink]="['/post']">
        <h2 class="post-title">
          Failure is not an option
        </h2>
        <h3 class="post-subtitle">
          Many say exploration is part of our destiny, but it’s actually our duty to future generations.
        </h3>
      </a>
      <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>
        on July 8, 2018</p>
    </div>-->
    <hr>
    <!-- Pager -->
    <!--<div class="clearfix">
      <a class="btn btn-primary float-center" href="#">{{ 'buttons.olderPosts' | translate }} </a>
    </div>-->
    <!--<div class="load-more"> <img style="margin-bottom: 35px; display: block;" src="/assets/img/more-content-loader.gif" alt="Cargando..."> <a href="#" data-category="all" data-number="18" style="display: inline-block;">{{'showMoreArticles' | translate}}</a></div>-->
  </div>
  <div class="col-lg-4">
    <!--<blog-sidebar></blog-sidebar>-->
    <blog-access-direct></blog-access-direct>
  </div>

</div>