<blog-loading  *ngIf="loading"></blog-loading>
<div *ngIf="!loading">
  <h3 class="my-4">Destacado</h3>
  <div class="row">
    <div class="col-md-8">
      <div class="center-element"><img class="img-fluid" [src]="important.thumbnail" [alt]="important.name"><br /><br />
      </div>

      <a href="{{important.url}}" class="btn btn-primary btn-block" target="_blank">{{ important.urlTitle }}</a>
    </div>

    <div class="col-md-4">
      <h3 class="my-3 card-title">{{ important.name }}</h3>
      <span class="categories" [ngStyle]="{'background-color': c.color}" *ngFor="let c of important.categories" >
          {{ c.title }}
      </span>
      <p>{{ important.intro }}</p>
      <h3 class="my-3 card-title">Funcionalidades</h3>
      <ul>
        <li *ngFor="let d of important.details">{{ d }}</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->
  <br/>
<hr/>
  <!-- Related Projects Row -->
  <h3 class="my-4">Otros proyectos</h3>
  <div class="row others" *ngFor="let p of projects">
    <div class="col-md-4">
      <a href="#">
        <blog-poster-image [classValues]="'img-fluid rounded mb-3 mb-md-0'" *ngIf="p.thumbnail != ''"[src]="p.thumbnail" [alt]="p.name">
        </blog-poster-image>
        <blog-poster-image [classValues]="'img-fluid rounded'" [alt]="p.name" *ngIf="p.thumbnail == ''" [src]="'./assets/img/anartz.jpg'"></blog-poster-image>
      </a>
    </div>
    <div class="col-md-8">
      <h3 class="card-title">{{ p.name }}</h3>
      <span class="categories" [ngStyle]="{'background-color': c.color}" *ngFor="let c of p.categories" >
        {{ c.title }}
      </span>
      <p>{{p.intro}}</p>
      <a class="btn btn-primary" href="{{p.url}}" target="_blank">Ver proyecto
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <p></p>
  </div>
</div>