
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
      <!--<p>Soy Técnico Superior en Sistema de Telecomunicación e Informáticos (STI) y Técnico Superior en Desarrollo de Aplicaciones Multiplataforma (DAM). </p>-->

      <p>Soy desarrrolador web / mobile con más de 5 años de experiencia en el que he trabajado en todo tipo de proyectos para diferentes ámbitos como el deporte, cultura, temas sociales, juegos, industria,...</p>
      
      <p>Actualmente compagino mi trabajo como desarrollador con estudiar en la Universidad el Grado de Informática, mis proyectos personales y mis otros hobbies entre los que destacan el deporte, videojuegos y mucho más.</p>
      
      <p>Me apasiona programar, me gusta dedicarle algo de tiempo a diario, aunque sea a leer tutoriales, realizar cursos e investigar. Me gusta mucho también trabajar con datos, jugar con ellos y hago uso frecuente de los datos abiertos.</p>
      
      <p>Como mis casos de éxito, se podría decir que he destacado más en el ámbito mobile en el que tuve el privilegio de ser uno de los ganadores del concurso de datos abiertos de mi comunidad autónoma que es el País Vasco con el proyecto Servirace aplicación desarrollada desde Android 2.+ hasta la versión 7 en el que he invertido muchísimas horas siendo el responsable del proyecto en todos los aspectos y desarrollándolo en mis ratos libres ajeno a mi trabajo.</p>
      
      <p>Ahora como nuevo estímulo, por aportar mis conocimientos y mi pasión por este mundo del desarrollo, he decidido empezar la aventura de ser instructor en línea, teniendo como referencia en la forma de trabajar y tratar a sus alumnos al gran Fernando Herrera.</p>
  </div>
  <!--<div class="col-lg-4">
    <blog-sidebar></blog-sidebar>
  </div>-->
</div>