<blog-loading  *ngIf="loading"></blog-loading>
<div class="row" *ngIf="!loading">
  <p>¡¡Cursos siempre al precio más bajo posible!!. Para obtenerlo, tenéis que acceder desde los enlaces que corresponden a cada curso.</p>
  <div class="col-lg-4 portfolio-item" *ngFor="let course of courses">
    <div class="card h-100">
      <a href="{{course.url}}" target="_blank" title="{{course.description}}">
        <blog-poster-image [classValues]="'card-img-top'" [src]="course.image" [alt]="course.description"></blog-poster-image>
      </a>
      <div class="card-body">
        <span class="categories" [ngStyle]="{'background-color': c.color}" *ngFor="let c of course.categories" >
          {{ c.title }}
        </span>
        <h4 class="card-title">
          <a href="{{course.url}}" target="_blank">{{ course.title }}</a>
        </h4>
        <p class="card-text">{{ course.description }}</p>
        <a href="{{course.url}}" target="_blank" class="btn"
          [ngClass]="{'btn-danger': !course.publish, 'btn-info': course.publish}">
          <span *ngIf="course.publish">{{ 'buttons.accessCourse' | translate }}</span>
          <span *ngIf="!course.publish">{{ 'buttons.nextComming' | translate }}</span>
        </a>
      </div>
    </div>
  </div>
</div>