<form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
    <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
        <ckeditor [(ngModel)]="mycontent" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig"
            debounce="500" (change)="onChange($event)">
        </ckeditor>
        <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
    </div>
    <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
</form>